:root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --blue: rgb(71, 69, 235);
    --black-bg-color: #242424;
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;

    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

#root {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    z-index: 1;
}

.title {
    color: var(--blue);
    font-size: 20px;
}

.visible {
    opacity: 1 !important;
    transition: all 1s;
    top: 0 !important;
}

#about,
#skills,
#projects,
#life,
#contact {
    scroll-margin-top: 200px;
}