.header {
    height: 85px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--black-bg-color);
    justify-content: center;
    align-items: center;

    padding-bottom: 10px;

    -webkit-box-shadow: -1px 7px 1px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -1px 7px 1px -2px rgba(0, 0, 0, 0.2);
    box-shadow: -1px 7px 1px -2px rgba(0, 0, 0, 0.2);
}

.header .nav__brand {
    height: 68px;
    width: 105px;
    padding: 0 10px 10px 10px;

    text-decoration: none;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif !important;
    font-size: 1.6em;
    font-weight: 900;
    letter-spacing: 0.02em;

    background-color: var(--blue);
    border-radius: 0 0 15px 15px;
    transition: transform 300ms ease;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    position: absolute;
    left: 325px;
    top: 0px;

    &&:hover {
        transform: scale(1.05);
    }
}

.nav__bar {
    display: flex;
    flex-direction: row;
    position: relative;
}

.nav__list {
    display: flex;
    gap: 5px;
}

@media (max-width: 1460px) {
    .header .nav__brand {
        left: 150px;
    }
}

@media (max-width: 1200px) {
    .header .nav__brand {
        left: 50px;
    }
}

@media (max-width: 970px) {
    .nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;

        position: absolute;
        z-index: 1000;
        top: 45px;
        left: 50%;
        transform: translateX(-60%);

        overflow: hidden;
        max-height: 0;
        width: 450px;
        transition: max-height 300ms ease, opacity 200ms ease;
        opacity: 0;

        background-color: rgba(0, 0, 0, 0.90);

    }

    .nav__list.active {
        max-height: 300px;
        width: 450px;
        opacity: 1;
    }

    .header .nav__brand {
        position: relative;
        left: 0;
        top: -2px;
    }

    .header {
        padding: 0 100px;
        justify-content: space-between;
    }
}

@media (max-width: 560px) {
    .header {
        padding: 0 40px;
    }

    .nav__list.active {
        width: 350px;
    }
}

@media (max-width: 380px) {
    .nav__list.active {
        left: 0;
        transform: translateX(-63%);
    }
}