.slider {
    max-width: 160px;
    width: 100%;
    height: 220px;

    position: relative;
    top: 25%;
    transform-style: preserve-3d;
    transform: translateX(-50%) perspective(1000px);

    animation: autoRun 32s linear infinite;
}

.slider .item {
    position: absolute;
    inset: 0;
    transform:
        rotateY(calc((var(--position) - 1) * (360deg / var(--quantity)))) translateZ(480px);
}

.slider__nav {
    display: none;
}

@keyframes autoRun {
    from {
        transform: perspective(2900px) rotateX(0deg) rotateY(0deg);
    }

    to {
        transform: perspective(2900px) rotateX(0deg) rotateY(360deg);
    }
}

@media (max-width: 950px) {
    .slider .item {
        transform: rotateY(calc((var(--position) - 1) * (360deg / var(--quantity)))) translateZ(280px);
    }
}

@media (max-width: 550px) {
    .slider {
        transform: none;
        animation: none;
        max-width: none;
        top: 15px;

        display: flex;
        height: 305px;
        overflow-x: auto;
        padding-top: 15px;

        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        anchor-name: --slider;

        &::scroll-button(*) {
            position: fixed;
            position-anchor: --slider;
        }

        &::scroll-button(right) {
            position-area: inline-end center;
            content: '>';
            border: none;
            border-radius: 50%;
            background-color: var(--blue);
            height: 60px;
            width: 60px;
            color: white;
        }

        &::scroll-button(left) {
            position-area: inline-start center;
            content: '<';
            z-index: 6;
            border: none;
            border-radius: 50%;
            background-color: var(--blue);
            height: 60px;
            width: 60px;
            color: white;
        }
    }

    .slider::scroll-button(left):disabled,
    .slider ::scroll-button(:right):disabled {
        opacity: 0.5;
    }

    .slider .item {
        flex: 0 0 20em;
        transform: none !important;
        position: relative;
        scroll-snap-align: center;
        z-index: 1;

        &::before {
            content: '';
            flex: 0 0 50%;
        }
    }
}