.slider {
    max-width: 160px;
    width: 100%;
    height: 290px;

    position: relative;
    top: 25%;
    transform-style: preserve-3d;
    transform: translateX(-50%) perspective(1000px);

    animation: autoRun 32s linear infinite;
}

.slider .item {
    position: absolute;
    inset: 0;
    transform:
        rotateY(calc((var(--position) - 1) * (360deg / var(--quantity)))) translateZ(480px);
}

.slider__nav {
    display: none;
}

@keyframes autoRun {
    from {
        transform: perspective(2900px) rotateX(0deg) rotateY(0deg);
    }

    to {
        transform: perspective(2900px) rotateX(0deg) rotateY(360deg);
    }
}

@media (max-width: 950px) {
    .slider {
        transform: none;
        animation: none;
        max-width: none;
        top: 15px;

        display: flex;
        align-items: center;
        height: 360px;
        overflow-x: auto;
        padding-top: 15px;

        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        anchor-name: --slider;

        &::-webkit-scrollbar {
            display: none;
        }

        &::scroll-button(*) {
            position: fixed;
            position-anchor: --slider;
            background-color: transparent;
            height: 60px;
            width: 60px;
            color: black;
            border: none;
            font-size: 2rem;
        }

        &::scroll-button(right) {
            position-area: right center;
            content: '>';

        }

        &::scroll-button(left) {
            position-area: left center;
            content: '<';
        }
    }

    .slider::scroll-button(left):disabled,
    .slider::scroll-button(right):disabled {
        color: transparent;
    }

    .slider .item {
        flex: 0 0 100%;
        display: flex;
        justify-content: center;
        transform: none !important;
        position: relative;
        scroll-snap-align: start;
    }
}