.about {
    background-color: white;
    width: 100%;
    height: 900px;
    font-family: 'Poppins', sans-serif;

    position: relative;
}

.visible {
    opacity: 1 !important;
    transition: all 1s;
    top: 0 !important;
}

.container {
    max-width: 1500px;
    margin: 0 auto;

    display: flex;
    gap: 45px;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 60px;

    opacity: 0;
}

.container h3::before {
    content: "";
    width: 120px;
    height: 2px;
    background-color: var(--blue);
    display: block;

    position: absolute;
    top: 20px;
    left: -100px;
}

.container .inner {
    display: flex;
    gap: 160px;
}

.inner .right {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    position: relative;
}

.inner .left {
    display: flex;
    gap: 35px;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
}

.right::before {
    content: "";
    width: 2px;
    height: 100px;
    background-color: var(--blue);

    position: absolute;
    left: -75px;
}

.right p {
    color: #6e6e6e;
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 30px;
}

@media (max-width: 1560px) {
    .right p {
        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;
    }

    .left {
        gap: 0 !important;
    }
}

@media (max-width: 820px) {
    .inner {
        flex-direction: column;
        gap: 25px !important;
    }

    .about {
        height: 1000px;
    }
}

@media (max-width: 520px) {
    .right p {
        padding: 0 14px;
        flex-wrap: wrap;
    }
}