.skill__card {
    width: 100px;
    height: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;
    padding: 7px;
    border-radius: 50%;

    position: relative;
    transition: all 0.3s;
}

.card__text {
    text-align: center;
    position: absolute;
    bottom: -35px;
}

.skill__card:hover {
    background-color: #a9b4f7;
    color: #a9b4f7;
    transform: scale(1.2);
}

@media (max-width: 730px) {
    .skill__card {
        width: 50px;
        height: 50px;
        background-color: transparent;
    }
}

@media (max-width: 480px) {
    .card__text {
        display: none;
    }
}