.visible {
    opacity: 1 !important;
    transition: all 1s;
    top: 0 !important;
}

.skills {
    max-width: 1320px;
    height: 900px;
    font-family: 'Poppins', sans-serif;

    position: relative;
    margin: 0 auto;
}

.container {
    opacity: 0;
    position: relative;
    top: 60px;

    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(200, 200, 200);
}

.container h3::after {
    content: "";
    width: 320px;
    height: 2px;
    background-color: var(--blue);
    position: absolute;
    top: 0;
    right: 0;
}

.container h3::before {
    content: "";
    width: 320px;
    height: 2px;
    background-color: var(--blue);
    position: absolute;
    top: 0;
    left: 0;
}

.container h4 {
    text-align: left;
}

.container .inner {
    width: 100%;

    display: flex;
    gap: 35px;
    flex-direction: column;
    align-items: start;

    margin-top: 45px;
}

.container div h4 {
    font-size: 1.75rem;
}

@media (max-width: 850px) {
    .container h3::after {
        width: 0;
        height: 0;
    }

    .container h3::before {
        width: 0;
        height: 0;
    }
}