.contact__card {
    height: 80px;
    width: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    color: #6e6e6e;
    font-size: 1rem;
    font-weight: 800;
    border-radius: 50%;

    transition: all 0.3s ease;

    &:hover {
        background-color: black;

        & a {
            filter: invert(100%);
        }
    }
}

.contact__card a {
    height: 50px;
    width: 50px;
    background-image: var(--bg-img);
    background-size: contain;
    background-repeat: no-repeat;

}

.contact__card span {
    position: absolute;
    bottom: -25px;
    pointer-events: none;
}